@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/* {
    border: 1px solid red;
}*/
.my-photo {
    background-image: url('https://fsmedia.imgix.net/3d/47/b2/c5/9909/4730/8e08/d4dff152963c/donnie-yen-ip-man-3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.my-bg {
    background-color: rgba(114, 198, 246, 0.30);
}
.my-text {
    color: white;
    font-family: 'Slabo 27px', serif;
}
.my-hr {
    border: 3px solid #1A98A5;
    width: 160px;
}
